.edit-review-modal-button-container {
  cursor: pointer;
}

.edit-review-modal-button {
  font-size: 1.1em;
  cursor: pointer;
}
.edit-review-modal-button:hover {
  font-weight: bold;
  background-color: rgb(209, 235, 243);
  cursor: pointer;
}

.review-edit-form-page {
  border-radius: 10px;
  min-height: 300px;
  min-width: 400px;
}

.review-edit-form-container {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-edit-form-rating-container {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.review-edit-form-field {
  border: none;
  border-bottom: black solid 0.1em;
  width: 100%;
  height: 30px;
}

.review-edit-form-review-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.review-edit-form-field-textarea {
  padding-top: 10px;
  border: none;
  border-bottom: black solid 0.1em;
  width: 100%;
  height: 70px;
  resize: none;
}

.review-edit-form-submit-button-container{
  padding: 10px 0;
}

.review-edit-form-submit-button{
  height: 30px;
  border: 1px solid black;
  margin-top: auto;
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

.review-edit-form-submit-button:hover{
  background-color: gray;
}