.create-review-modal-container{
    margin-top: auto;
}

.create-review-modal-button{
    height: 30px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: 1px black solid;
}

.create-review-modal-button:hover{
    background-color: gray;
    
}