.my-favorites-heart-position-container{
    position: absolute;
}
.my-favorites-heart-container{
    position: relative;
    top: 20px;
    left: 350px;
}

.my-favorites-heart-icon{
    font-size: xx-large;
    color: red;
    cursor: pointer;
}