.my-favorites-heart-position-container{
        display: flex;
        justify-content: flex-end;
}
.my-favorites-heart-container{
            position: relative;
            right: 15px;
            top: 50px;
}

.my-favorites-heart-icon{
        display: flex;
        justify-content: flex-end;
    font-size: xx-large;
    color: red;
    cursor: pointer;
}