.landing-page-container {
  height: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.landing-page-carousel-slider{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}


.carousel-direction-button-container{
  position: relative;
  top: 40vh;
  width: 55vw;
  display: flex;
  justify-content: space-between;
}

.carousel-button{
    font-size: xx-large;
    z-index: 1;
    cursor: pointer;
}

.carousel-button.next:hover{
  color: pink;
}

.carousel-button.prev:hover {
  color: pink;
}

.landing-page-slides {
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 1000ms;
  /* left: -100%; */
}

.slide-animation{
  opacity: 1;
  /* left: 0; */
}

.landing-image {
  height: 85vh;
  width: 80vw;
  border-radius: 10px;
}

.dots-container{
  bottom: 5%;
  position: relative;
  display: flex;
  width: 30%;
  justify-content: space-evenly;

}
.dot{
  cursor: pointer;
  font-size: xx-large;
  z-index: 1;
}


.flexible-container {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 25%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.flexible-container-header {
  color: white;
  font-size: 2vw;
}

.flexible-button {
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  font-weight: bold;
  color: purple;
  width: 7vw;
  height: 2.5vw;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
  border: 0.1px solid black;
}

.flexible-button:hover {
  background-color: black;
  color: white;
}
