.landing-page-container {
  height: 89.8%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.landing-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-image {
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.flexible-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-top: min(550px, 35%);
  justify-content: center;
  align-items: center;
  margin: auto;
}

.flexible-container-header {
  color: white;
  font-size: 3em;
}

.flexible-button {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: purple;
  width: 120px;
  height: 55px;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
  border: 0.1px solid black;
}

.flexible-button:hover {
  background-color: black;
}
