.edit-form-modal-container{
  height: 25px;
  cursor: pointer;
}

.edit-form-modal-button-container{

}

.edit-form-modal-button{
  font-size: 1.1em;

}
.edit-form-modal-button:hover{
  font-weight: bold;
  background-color: rgb(209, 235, 243);

}

.spot-edit-form-page {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  border-radius: 10px;
  min-height: 450px;
  width: 900px;
}

.spot-edit-image-remove-preview-position{
    position: relative;
    bottom: 125px;
    left: 95px;
}

.spot-edit-form-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}


.spot-edit-form-container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.error-spot-form-max {
  display: flex;
  justify-content: center;
  color: red;
}
.error-spot-form-label {
  
}
.spot-edit-field-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 88%;

}

.error-spot-form-textarea{
  border: black solid 0.1em;
  border-radius: 10px;
  width: 88%;
  height: 55px;
  resize: none;
}
.error-spot-form-field {
  border: none;
  /* border-bottom: black solid 0.1em; */
  border-radius: 10px;
  width: 88%;
  height: 30px;
}

.edit-spot-image-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.edit-spot-each-image-container {  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
  width: 96%;
}
.edit-spot-form-image-field-container{
  padding-left: 20px;
  display: flex;
  align-items: center;
  width: 80%;
}
.edit-spot-field-button-container {
  width: 80%;
  display: flex; 
  justify-content: space-between;
}

.edit-spot-form-image-field {
  border: none;
  border-bottom: black solid 0.1em;
  /* border-radius: 10px; */
  width: 100%;
  height: 30px;
}
