

.delete-form-modal-button {
  font-size: 1.1em;
  cursor: pointer;
}
.delete-form-modal-button:hover {
  font-weight: bold;
  background-color: rgb(209, 235, 243);
}


.confirm-delete-page-container{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-form-header-container{
    width: 100%;
}

.confirm-delete-warning-text-container{
    padding: 10px;
}

.confirm-delete-button-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 10%;
}

.confirm-delete-button{
    height: 30px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.confirm-delete-button:hover{
    color: white;
    background-color: red;
}

.confirm-cancel-button{
    height: 30px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.confirm-cancel-button:hover{
    color: white;
    background-color: red;
}