.my-spots-page-container {
  box-sizing: border-box;
  margin-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
.my-spots-page-container-active {
      opacity: 1;
      transition: opacity ease-in-out 500ms;
}

.my-spots-header-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-width: 1600px;
  justify-content: space-evenly;
}
.my-all-spots-container {
  display: flex;
  max-width: 1724px;
  flex-wrap: wrap;
  padding-bottom: 70px;
  /* justify-content: space-evenly; */
}

.my-each-spot-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 400px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.my-each-spot-image {

  height: 300px;
  width: 400px;
}

.my-spots-basic-container{
    display: flex;
    justify-content: space-between;
}
