.spots-page-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.each-spot-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-height: 500px;
  padding-bottom: 20px;
  display: flex;
}

.each-spot-image {
  max-height: 500px;
  max-width: 500px;
}

.each-spot-details-container {
  width: 50%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.each-spot-name {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.each-spot-basic-info {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.each-spot-price {
  font-weight: bold;
  margin-left: auto;
  margin-top: auto;
}
