.spots-page-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.each-spot-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-height: 500px;
  padding-bottom: 20px;
  display: flex;
}

.each-spot-image {
  /* max-width: 80%; */
  max-height: 500px;
  max-width: min(80%,500px);
  /* width: 500px; */
  min-width: min(33vw, 500px);
}

.each-spot-details-container {
  /* width: 50%; */
  min-width: min(50%, 700px);
  max-width: 670px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.each-spot-name {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.each-spot-basic-info {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 50%;
  max-width: 350px;
}

.each-spot-price {
  font-weight: bold;
  margin-left: auto;
  margin-top: auto;
}
