.details-spot-page-container {
  margin-top: 100px;
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
    opacity: 0;
}
.details-spot-page-container-active{
    opacity: 1;
    transition: opacity ease-in-out 500ms;
}

.details-spot-page-title {
  display: flex;
  justify-content: space-between;
}

.details-spot-page-name {
  max-width: 100%;
  overflow-wrap: break-word;
  font-weight: 500;
}
.details-spot-address-detail-container {
  display: flex;
  width: 100%;
}
.details-page-star-text {
  max-width: 70px;
}

.fa-solid.fa-star {
  color: red;
}

.details-page-review-text {
  padding-left: 5px;
}

.details-spot-address-detail {
  display: flex;
  overflow-wrap: break-word;
  max-width: 900px;
}
.details-spot-address-detail p {
  overflow-wrap: break-word;
}

.details-page-title-bullet span {
  z-index: -1;
  /* border-bottom: 0.01rem black solid; */
  position: relative;
  left: -10px;
}

.details-page-image-grid {
  padding-top: 10px;
  display: grid;
  aspect-ratio: 1/1;
  height: 30vw;
  /* width: 100%; */
  
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-areas:
    "a a b c"
    "a a d e";
}

.details-page-image-0 {
  grid-area: a;
  aspect-ratio: 1/1 ;
  /* width: 550px; */
  height: 100%;
  width: 100%;
}
.details-page-image-1 {
  grid-area: b;
  aspect-ratio: 1 / 1;
  height: 100%;
  width: 100%;
}

.details-page-image-2 {
  grid-area: c;
  aspect-ratio: 1 / 1;
  height: 100%;
  width: 100%;
}

.details-page-image-3 {
  grid-area: d;
  aspect-ratio: 1 / 1;
  height: 100%;
  width: 100%;
}

.details-page-image-4 {
  grid-area: e;
  aspect-ratio: 1 / 1;
  height: 100%;
  width: 100%;
}


h2 {
  font-weight: 500;
} 

.first-last-name{
  /* text-decoration: none; */
  color: inherit;
}

.first-name{
  text-transform: capitalize;
  word-break: break-all;
}

.details-page-host-heart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-page-favorite-spot-number-container{
  display: flex;
  align-items: center;
}
.details-page-favorite-spot-number{
  color: red;
}

.details-page-heart-button{
  font-size: xx-large;
  cursor: pointer;
  color: red;
}

.details-page-house-details {
  display: flex;
  justify-content: space-between;
}
.details-page-house-details p {
  word-break: break-all;
  overflow-wrap: anywhere;
}

.details-page-price-text {
  font-size: large;
}

.details-page-description-container {
  padding-top: 5px;
}

.details-page-description-text {
  overflow-wrap: break-word;
}

.details-page-header-container {
  display: flex;
  justify-content: space-between;
}

.details-page-header-title {
  display: flex;
  justify-content: space-between;
}
.details-page-review-title-text {
  padding: 0;
  margin-left: 10px;
  list-style: inside;
}

.details-page-review-title-bullet span {
  position: relative;
  left: -15px;
}
