.edit-delete-booking-modal-container{

    position: absolute

}

.edit-delete-booking-modal-button-container{
        position: relative;
    top: 20px;
    left: 350px;
        /* z-index: 1; */
}


.edit-delete-booking-modal-button{
    color: black;
    font-size: xx-large;
    /* background-color: grey; */
}
.edit-delete-booking-modal-button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}