.create-spot-button {
  background-color: black;
  border: 0;
  width: 100px;

  height: 30px;
}

.create-spot-button span {
  color: white;
  font-weight: 500px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}

.create-spot-button:hover {
  background-color: gray;
  border-radius: 20px;
  cursor: pointer;
}

.spot-form-page {
  border-radius: 10px;
  min-height: 600px;
  width: 900px;
}
.spot-form-image-preview {
  display: flex;
  justify-content: center;
}

.spot-error-form-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.spot-form-max {
  color: red;
}

.spot-form-container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.spot-form-field {
  border: black solid 0.1em;
  border-radius: 10px;
  width: 80%;
  height: 30px;
}

.spot-form-field-textarea {
  border: black solid 0.1em;
  border-radius: 10px;
  width: 80%;
  height: 60px;
  resize: none;
}

.error-message {
  padding-left: 60px;
  color: red;
}

.spot-form-image-field {
  width: 100%;
  padding-left: 170px;
}

.spot-form-remove-image {
  cursor: pointer;
  background-color: lightblue;
  font-weight: bold;
  font-size: larger;
}

.spot-form-button-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.spot-form-button {
  border-radius: 10px;
  border: 1px black solid;
  color: white;
  background-color: black;
  height: 30px;
  cursor: pointer;
  font-size: medium;
}

.spot-form-button:hover {
  background-color: gray;
}
