.create-spot-button {
  background-color: black;
  border: 0;
  width: 100px;

  height: 30px;
}

.create-spot-button span {
  color: white;
  font-weight: 500px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}

.create-spot-button:hover {
  background-color: gray;
  border-radius: 20px;
  cursor: pointer;
}

.spot-form-container {
  display: flex;
  flex-direction: column;
}

.spot-error-form-container {
  display: flex;
  flex-direction: column;
}

.error-message {
  margin: 0;
}
