.create-spot-button {
  background-color: black;
  border: 0;
  width: 100px;
  height: 30px;
}

.create-spot-button-text{
  color: white;
  font-weight: 500px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}

.create-spot-button:hover {
  background-color: gray;
  border-radius: 20px;
  cursor: pointer;
}

.spot-form-page-container{
  padding-top: 85px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.spot-form-page {
  border: 1px solid black;
  min-height: 600px;
  width: 1100px;
}

.spot-form-header-container {
  background-color: rgb(250, 147, 164);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spot-form-header-container h1 {
  margin: 15px 20px;
  color: white;
}

.spot-form-image-preview {
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly
}

.spot-form-each-image-container{
  display: flex;
}

.spot-form-image-remove-preview-container{
  position: absolute;

}

.spot-form-image-remove-preview-position{
  position: relative;
  left: 125px;
}

.spot-form-image-remove-button{
  font-size: x-large;
  cursor: pointer;
}

.spot-form-image-remove-button:hover{
  color: red;
}


.spot-error-form-container {
  padding-top: 10px;
  padding-left: 53px;
  padding-right: 53px;
  display: grid;
  width: 88%;
  grid-template-columns: repeat(3, 1fr);
}

.spot-form-max {
  color: red;
}

.spot-form-container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.spot-form-field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
}

.spot-form-select-field-container{
  margin-top: 1px;
 display: flex; 
 flex-direction: column;
 width: 88%;
}
.spot-form-select-field-input-container{
  display: flex;
  justify-content: space-between;
}

.spot-form-select-field-city-container{
display: flex;
justify-content: space-between;
align-items: center;
}
.spot-form-select-field-city-input-container{
  padding-left: 5px;
}

.spot-form-select-field-state{
  border: none;
      border-bottom: black solid 0.1em;
      /* border-radius: 10px; */
      height: 35px;
}


.spot-form-select-input-field{
    border: none;
    border-bottom: black solid 0.1em;
    /* border-radius: 10px; */
    width: 80%;
    height: 30px;
}

.spot-form-field {
  border: none;
  border-bottom: black solid 0.1em;
  /* border-radius: 10px; */
  width: 88%;
  height: 30px;
}

.spot-form-field-textarea {
  border:none;
  border-bottom: black solid 0.1em;
  /* border-radius: 10px; */
  width: 88%;
  height: 55px;
  resize: none;
}

.spot-form-integer-field-container{
    margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88%;
}

.spot-form-integer-field-input-container{
  display: flex;
  align-items: center;
}

.spot-form-integer-field-input{
    border: none;
    border-bottom: black solid 0.1em;
    /* border-radius: 10px; */
    width: 95%;
    height: 30px;
}

.spot-form-amenities-select-input-container{
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.error-message {
  /* padding-left: 50px;
  padding-right: 50px; */
  color: red;
}

.spot-form-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-form-field-button-container {
  padding-left: 10px;
  width: 80%;
}

.spot-form-remove-image {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: lightblue;
  font-weight: bold;
  font-size: larger;
}

.spot-form-inner-image-field {
  padding-left: 110px;
  display: flex;
  width: 100%;
}

.spot-form-field-button-container {
  display: flex;
  padding-left: 20px;
  width: 100%;
  align-items: center;
}
/* .spot-form-image-field {
  display: flex;
  width: 100%;
} */

.spot-form-image-field {
  border: none;
  border-bottom: black solid 0.1em;
  /* border-radius: 10px; */
  width: 86%;
  height: 30px;
}

.spot-form-button-container {
  padding-top: 10px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}



.spot-form-button {
  border-radius:25px;
  border: 1px black solid;
  color: white;
  background-color: black;
  height: 30px;
  cursor: pointer;
  font-size: medium;
}

.spot-form-button:hover {
  background-color: gray;
}
