.create-booking-modal-page-container{
    margin-top: auto;
}
.create-booking-modal-button{
    border-radius: 20px;
    border: 1px black solid;
    color: white;
    background-color: black;
    width: 70px;
    height: 30px;
    cursor: pointer;
    font-size: medium;
}
.create-booking-modal-button:hover{
    cursor: pointer;
}


.create-booking-form-page-container{
    width: 325px;
}

.create-booking-form-error-container{
    padding: 10px;
}

.create-booking-form-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.create-booking-form-guest-container{
    padding: 10px;
    display: flex;
}

.create-booking-form-button-container{
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

.create-booking-form-button{
    border-radius: 20px;
    border: 1px black solid;
    color: white;
    background-color: black;
    width: 70px;
    height: 30px;
    cursor: pointer;
    font-size: medium;
}

.create-booking-form-button:hover{
    background-color: gray;
}



.CalendarDay__selected_span {
    background: #56B4E9;
    color: white; 
    border: 2px solid black; 
}

/* // Will edit selected date or the endpoints of a range of dates */
.CalendarDay__selected {
    border: 2px solid black;
    background: #0072B2;
    color: white;
}

/* // Will edit when hovered over. _span style also has this property */
.CalendarDay__selected:hover {
    border: 3px solid red;
    background: #009E73;
    color: white;
}

/* // Will edit when the second date (end date) in a range of dates */
/* // is not yet selected. Edits the dates between your mouse and said date */
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
        border: 3px solid red;
        background: #009E73;
        color: white;
}