.edit-delete-modal-container {
  display: flex;
  align-items: flex-end;
  margin: 21px 0px;
}

.edit-delete-button-container {
  width: 50px;
  font-size: 3rem;
  cursor: pointer;
}

.edit-delete-modal-menu{
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}