.edit-delete-modal-container {
  display: flex;
  align-items: flex-end;
  margin: 21px 0px;
}

.edit-delete-modal-container {
  margin: 0px;
}

.edit-delete-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  font-size: 3rem;
  cursor: pointer;
  margin: 0;
  height: 30px;
  
}

.edit-delete-button-container:hover{
  border: black 1px solid;
  border-radius: 20px;
  background-color: gray;
  color: white;
}

.edit-delete-modal-menu {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

