.navbar-container {
  top: 0;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-top: 3px;
}

.navbar-right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: 15%;
  width: 150px;
}

.profile-menu-container {
  margin-left: auto;
}

.profile-menu-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.profile-menu-button:hover {
  box-shadow: 1px 1px 10px white;
}

.fa-solid.fa-user {
  font-size: 22px;
  font-weight: bold;
}

.profile-drop-down-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
  position: fixed;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(250, 245, 245);
  border: black 0.09rem solid;
  top: 55px;
  right: 15vw;

}

.profile-link {
  text-decoration: none;
  color: black;
}

.profile-link:hover {
  width: 100%;
  background-color: rgb(229, 246, 252);
}

.logout-button {
  width: 70px;
  height: 30px;
  color: white;
  background-color: black;
  border-radius: 25px;
  border: 1px black solid;
  cursor: pointer;
}
.logout-button:hover {
  background-color: gray;
}
