.amenities-container{
    display: flex;
    flex-wrap: wrap;
    /* word-break: break-all; */
    width: 100%;
}

.each-spot-each-amenities-container{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.each-spot-ameniities-icon{
    font-size:1.5vw;
    color: rgb(250, 147, 164);
}
/* .fa-square-parking{
    color: rgb(11, 11, 138)
}

.fa-kitchen-set{
    color: grey;
}
.fa-person-swimming{
    color: skyblue;
}

.fa-hot-tub-person{
    color: blue;
}
.fa-user-check{
    color: green;
}
.fa-dog{
    color: darkred;
}
.fa-briefcase-medical{
    color: red;
}
.fa-fire-extinguisher{
    color: red;
}
.fa-smoking{
    color: gray
}
.fa-pump-soap{
    color: greenyellow;
} */

.each-spot-amenities-label{
    font-size:.85vw;
}