.amenities-container{
    display: flex;
    flex-wrap: wrap;
    /* word-break: break-all; */
    width: 100%;
}

.each-spot-each-amenities-container{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.each-spot-ameniities-icon{
    font-size:1.5vw;
}